*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    min-height: 100vh;
    background-color:#bbb5c3;
}
/* Page Layouts*/

.two_column_gird{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-auto__column {
    display: grid;
    grid-auto-flow: column;
    
    padding: 0px;
}

.center-wrapper {
    max-width: 600px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    
  }


/* Nav Bar */

header{
    background-color: #7e57c2;
}
h1{
    font-size: 4rem;
    color: white;
    padding: 0.9rem;
    font-family: 'Concert One', cursive;
   
}

/*Main Section*/

main{
    display: grid;
    place-content: center;
    background-color: #ffeeff;
}

h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Acme', sans-serif;
    padding: 2rem;
}

p{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Courgette', cursive;
}

h3{
    text-align: end;
    font-family: 'Satisfy', cursive;
    
}
.author_first_quote{
    border-radius: 0.3rem;
    background-color: #f8bbd0;
    margin: 10px;
    padding: 16px;
}
.author_second_quote{
    border-radius: 0.3rem;
    background-color:#9162e4;
    margin: 10px;
    padding: 16px;

}
